---
import MainLayout from "../../layouts/MainLayout.astro";
const cookies = Astro.request.headers.get("cookie");
let token = null;

if (cookies) {
    token = cookies.split(";").reduce((acc, cookie) => {
        const [key, value] = cookie.trim().split("=");
        if (key === "token") acc = value;
        return acc;
    }, "");
}

if (token !== null) {
    return Astro.redirect('/')
}
---

<MainLayout title="Inicia Sesion">
    <main>
        <h1>Bienvenido de nuevo</h1>
        <h2>
            Ingresa tus datos y accede a todo el contenido que RECETLY tiene
            para ofrecerte
        </h2>

        <form action="post">
            <label for="emailInput">Correo electronico</label>
            <input type="email" name="emailInput" id="email" />

            <label for="passwordInput">Contraseña</label>
            <input type="password" name="passwordInput" id="password" />

            <input type="submit" id="signin" value="Entrar" />
            <input type="button" id="signup" value="No tengo una cuenta" />
        </form>
    </main>
</MainLayout>

<script>
    const $form = document.querySelector("form");
    const $signin = $form.querySelector("#signin");
    const $signup = $form.querySelector("#signup");
    const $email = $form.querySelector("#email");
    const $password = $form.querySelector("#password");

    let isDisabled = false;

    $form.addEventListener("submit", async (evt) => {
        evt.preventDefault();

        const response = await fetch(
            "https://app.recetly.net/api/v1/auth/login",
            {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    email: $email.value,
                    password: $password.value,
                }),
            },
        );

        const data = await response.json();
        console.log(data);

        if (data.login) {
            document.cookie = `token=${data.id}; path=/; Secure`;
            location.replace("/");
        }
    });
</script>

<style>
    h1 {
        font-size: 5.5rem;
    }
    h2 {
        font-size: 2.5rem;
        font-weight: normal;
    }
    form {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        padding: 4rem;
        background: #5b8ae3;
        border-radius: 2rem;

        & label {
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }
        & input {
            height: 4rem;
            font-size: 2rem;
            outline: none;
            border-radius: 1rem;
            border: none;
        }
        & input:not(input[type="submit"], input[type="button"]) {
            padding-left: 1rem;
            cursor: text;
        }
        & input[type="email"] {
            margin-bottom: 1rem;
        }
        & input[type="submit"] {
            margin: 4rem 0 1rem 0;
            background-color: #d4e3ff;
        }
        & input[type="button"] {
            background-color: #4e7bcf;
        }
        & input[type="submit"],
        input[type="button"] {
            cursor: pointer;
            transition: transform 0.1s ease-in-out;
        }
        & input[type="submit"]:active,
        input[type="button"]:active {
            transform: translateY(3px);
        }
    }
</style>
