---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Crea una cuenta">
    <h1>BIENVENIDO</h1>
    <h2>
        Ingresa tus datos y registrate en <strong>RECETLY</strong> para tener acceso
        a la mejor aplicacion de recetas de comida.
    </h2>
    <form action="post">
        <label for="image">Imagen de perfil</label>
        <input type="file" name="image" />

        <label for="username">Nombre de usuario</label>
        <input type="text" name="username" />

        <label for="name">Nombre (s)</label>
        <input type="text" name="name" />

        <label for="lastname">Apellido (s)</label>
        <input type="text" name="lastname" />

        <label for="email">Correo electronico</label>
        <input type="email" name="email" />

        <label for="password">Contraseña</label>
        <input type="password" name="password" />

        <input type="submit" id="signin" value="Crear cuenta" />
        <a href="/auth/login">Ya tengo una cuenta</a>
    </form>
</MainLayout>

<style>
    h1 {
        font-size: 5rem;
        margin: 1rem 0;
    }
    h2 {
        font-size: 2.5rem;
        font-weight: normal;
        line-height: 1.2;
    }
    span,
    strong {
        color: #582eff;
    }
    form {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        margin-top: 2rem;
        background: #582eff;
        border-radius: 2rem;
        color: white;
        font-size: 2rem;
        & label {
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }
        & input {
            height: 4rem;
            font-size: 2rem;
            outline: none;
            border: none;
            border-radius: 1rem;
        }
        & input:not(input[type="submit"]) {
            padding-left: 1rem;
            cursor: text;
        }
    }

    & input[type="submit"] {
        margin: 4rem 0 1rem 0;
        background-color: #4a22ec;
    }
    & a {
        font-size: 2rem;
        text-align: center;
        background-color: #231657;
        padding: 0.5rem 0;
        text-decoration: none;
        border-radius: 1rem;
    }
    & input[type="submit"],
    a {
        cursor: pointer;
        transition: transform 0.1s ease-in-out;
        color: #f1f1f1;
    }
    & input[type="submit"]:active,
    a:active {
        transform: translateY(3px);
    }

    @media (min-height: 768px) {
        form {
            padding: 4rem;
        }
        h1 {
            font-size: 9rem;
        }
    }
</style>
