---
import MainLayout from "../layouts/MainLayout.astro";
import Indicator from "../components/Indicator.astro";
import SuggestForm from "../components/SuggestForm";

const commentsResponse = await fetch(
	"https://app.recetly.net/api/v1/suggest/get",
);
const commentsData = await commentsResponse.json();
---

<MainLayout title="RECETLY">
	<section>
		<h1 transition:name="title">BIENVENIDO A <span>RECETLY</span></h1>
		<h2>La aplicacion <strong>#1</strong> de recetas de comida</h2>
		<p>
			<strong>¿Que es recetly?</strong> La mejor aplicacion de recetas de comida.
			Aqui encontraras una gran variedad de recetas, desde mexicana, italiana,
			oriental y entre muchas otras.
		</p>
		<p>
			Se participe de la mejor aplicacion de recetas de comida del
			mercado. Unete a la comunidad y aprovecha las posibilidades
		</p>

		<p>Unete a RECETLY</p>

		<article>
			<div class="button-container">
				<a id="signin" href="/auth/login">Iniciar Sesion</a>
				<a id="signup" href="/auth/signup">Registrarse</a>
			</div>

			<a href="https://bit.ly/4eF7933"
				>O descarga la aplicacion movil aqui</a
			>
		</article>
		<Indicator />
	</section>
	<section>
		<h1>AYUDANOS A <strong>MEJORAR</strong></h1>
		<p>
			Tu <strong>opinion</strong> es muy importante para nosotros. Nos interesa
			escuchar lo que tienes para decir y asi poder continuar mejorando la
			aplicacion. ¡Deja tu comentario! Es totalmente anonimo.
		</p>
		<SuggestForm client:load />
		<p>Comentarios</p>
		<div class="comments">
			{
				commentsData.data.map((comment) => {
					return (
						<p class={`comment c-${comment.id}`}>
							{comment.comment}
						</p>
					);
				})
			}
		</div>
	</section>
</MainLayout>

<script></script>

<style>
	h1 {
		font-size: 4.5rem;
		line-height: 1;
	}
	h2 {
		font-size: 2.5rem;
	}
	p:not(p.comment) {
		font-size: 1.8rem;
		margin-top: 1.5rem;
	}

	div.comments {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 1rem 0 0 0;
		gap: 8px;
		border: 2px solid var(--border-color);
		border-radius: 16px;
		padding: 0.5rem;

		& p.comment {
			font-size: 1.8rem;
			background-color: var(--bg-light);
			padding: 0.5rem 1rem;
			border-radius: 8px;
		}
	}

	section {
		height: 100dvh;
	}
	article {
		height: auto;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		margin: 1rem 0 0 0;

		& .button-container {
			display: flex;
			flex-direction: row;
			gap: 0.5rem;

			& a {
				font-size: 1.5rem;
				cursor: pointer;
				padding: 1rem 2.5rem;
				border: none;
				color: #f1f1f1;
			}
			& a:first-child {
				background: #582eff;
			}
			& a:last-child {
				background: #34208f;
			}
		}
		& a {
			flex: 1;
			font-size: 1.5rem;
			padding: 1rem 2.05rem;
			text-decoration: none;
			display: inline-block;
			border: 2px solid #582eff;
			background: #582eff25;
			text-align: center;
			border-radius: 16px;
			transition: 0.15s ease-in-out filter;
			color: var(--color);
		}
		& a:hover {
			filter: invert();
		}
	}
	@media (min-width: 768px) {
		* {
			user-select: none;
		}
		h1 {
			font-size: 9rem;
			line-height: 1;
			margin-bottom: 4rem;
		}
		h2 {
			font-size: 3rem;
			font-weight: normal;
			margin-bottom: 1rem;
		}
		p:not(p.comment) {
			font-size: 2.5rem;
			margin-top: 1rem;
			z-index: 2;
			position: relative;
			max-width: 1080px;
		}

		article {
			width: 42rem;
			height: auto;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			margin: 4rem 0 0 0;

			& div.button-container {
				display: flex;
				flex-direction: row;
				gap: 0.5rem;

				& a {
					font-size: 2.5rem;
					cursor: pointer;
					padding: 1.25rem 2.75rem;
					border: none;
				}
				& a:first-child {
					background: #582eff;
				}
				& a:last-child {
					background: #34208f;
				}
			}
			& a {
				flex: 1;
				font-size: 2.25rem;
				padding: 1rem 2.05rem;
				text-decoration: none;
				display: inline-block;
				border: 2px solid #582eff;
				background: #582eff25;
				text-align: center;
				border-radius: 16px;
				transition: 0.15s ease-in-out filter;
			}
			& a:hover {
				filter: invert();
			}
		}

		div.comments {
			padding: 1.5rem;

			& p.comment {
				padding: 0.5rem 2.5rem;
			}
		}
	}
</style>
